//- partials랑 매우 유사, mixin은 include하고 +로 가져와준다.
//- pug문법인 텍스트랑 변수를 같이 사용하는 것(#{})은 attribute에는 사용 불가능
mixin video(videos)
    a(href=`/videos/${videos.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(${videos.thumbUrl})`)
        div.video-mixin__data
            span.video-mixin__title=videos.title
            div.video-mixin__meta
                span #{videos.owner.name}&nbsp•&nbsp
                span #{videos.meta.views} 회