doctype html
html(lang="ko")
    head
        title #{pageTitle} | #{siteName}
        //- link(rel="stylesheet" href="https://unpkg.com/mvp.css")
        link(red="stylesheet", hreft="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css")
        link(rel="stylesheet", href="/static/css/styles.css")
    body
        //- if messages.error 
        //-     span=messages.error
        //- if messages.info 
        //-     span=messages.info
        //- if messages.success
        //-     span=messages.success
        header.header__logo
            a(href="/")
                i.fab.fa-youtube
                span Youtube
            nav 
                ul 
                    li 
                        a(href="/search")
                            i.fas.fa-search
                    if loggedIn
                        li 
                            a(href="/videos/upload") Upload Video
                        li 
                            a(href="/users/edit") Edit Profile0
                        li
                            a(href="/users/logout") logout
                        li 
                            a(href=`/users/${loggedInUser._id}`) 
                                img(src="/" + loggedInUser.avatarUrl).header__avatar
                    else
                        li 
                            a(href="/join") join
                        li 
                            a(href="/login").header__btn login
        main
            block content
        include partials/footer
    script(src="https://kit.fontawesome.com/86bc6866a5.js" crossorigin="anonymous")
    script(src="https://unpkg.com/@ffmpeg/ffmpeg@0.10.0/dist/ffmpeg.min.js")
    block scripts
    //- webpack을 가져와준다.
    //- script(src="/assets/js/main.js")